            <!-- Column 2 (section with 2 columns) -->
            <div class="columns column is-multiline is-10 pl-5 pr-5 no-margins is-justify-content-center-mobile has-background-white top-layer">

                <!-- Column 2.1 -->
                <!-- Movie Poster on Left -->
                <figure class="column is-two-fifths is-10-mobile is-offset-1-mobile mt-3">
                    <img id="movie-poster" class="image is-2by3 is-half-tablet is-fullwidth pt-0 pr-0" src="{{movieData.Poster}}" alt="Movie Poster">
                </figure>

                <!-- Column 2.2 -->
                <!-- Movie Details on Right -->
                <div id= "movie-data" class="column is-three-fifths is-half-tablet mt-3 is-justify-content-space-around is-flex is-flex-direction-column">
                    <h1 class="title is-size-2 papyrus">{{movieData.Title}} </h1>
                    <h1 class="title is-size-4 subtitle courier-new">Actors: {{movieData.Actors}} </h1>
                    <p class="subtitle is-size-4 courier-new">Director: {{movieData.Director}} </p>
                    <p class="is-size-5 fantasy">Rated: {{movieData.Rated}} </p>
                    <p class="is-size-5 fantasy">Release Date: {{movieData.Released}}</p>
                    <p class="is-size-5 fantasy">IMDB: {{movieData.imdbRating}}</p>
                    <p class="is-size-5 fantasy">Rotten Tomatoes: {{rtScore}}</p>
                    <p class="is-size-5 fantasy">Metacritic: {{movieData.Metascore}}</p>
                    <br>
                    <button class="button is-info" id='review'>View Movie Mate Reviews</button>
                    <hr>
                    <p class="is-size-5">Genre: {{movieData.Genre}} </p>
                    <p class="is-size-5">Writers: {{movieData.Writer}} </p>
                    <p class="is-size-5">Plot Summary: </p>
                    <p class="is-size-6">
                        {{movieData.Plot}}
                    </p>
                </div>
                
                <div class="column is-full">
                    <hr>

                    <!-- Youtube Trailer embed -->
                    <!-- Goes below the 2 column section -->
                    <figure class="image is-16by9 mb-5">
                        <iframe id="yt-embed" class="has-ratio is-justify-self-center" width="640" height="360" src="{{ytEmbed}}" frameborder="0" allowfullscreen alt="Movie Trailer"></iframe>
                    </figure>

                    {{!-- <!-- Footer -->
                    <footer id="footer" class="has-text-centered is-align-content-center">
                        <p>
                            Group 3 MovieMate 2.0 App © 2022 
                        </p> 
                    </footer> --}}
                </div>

            </div>

<script src="/js/details.js"></script>